<footer class="gap no-bottom" style="background-image: url(assets/img/line-img.png);">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="logo">
            <a href="#">
              <img alt="logo" src="/images/logo.png">
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="links">
            <h5>Information</h5>
            <div class="line"></div>
           <ul style="color: white;">
            <li><a href="/privacy-policy" style="color: white;">Privacy Policy</a></li>
            <li><a href="/terms-and-conditions" style="color: white;">Terms and Conditions</a></li>
            <li><a href="/refund-policy" style="color: white;">Refund Policy</a></li>
            <li><a href="/shipping-policy" style="color: white;">Shipping Policy</a></li>

         
           </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="links">
            <h5>Contact Us</h5>
            <div class="line"></div>
            <span style="color: white;">Phone No.:<a href="callto:8381834393" style="color: white;">+918381834393</a></span>
            <span class="mt-3 d-flex" style="color: white;">Email:<a href="mailto:egadgetworldindia@gmail.com" style="color: white;">egadgetworldindia@gmail.com</a></span>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <h3>Download APK</h3>
        <p style="color: white;">Get our app for easy access to top-quality refurbished laptops - affordable, reliable, and eco-friendly. Shop now!</p>
        <a href="/images/<%=result[1][0].image%>" style="background-color: white;color:#0E8DF1" class="btn">Download APK</a>
      </div>
      <div class="footer-end">
        <p>2024 © E-Gadget World</p>
      </div>
    </div>
    <div class="footer-shaps">
    </div>
  </footer>
  <!-- progress -->
  <div id="progress">
        <span id="progress-value"><i class="fa-solid fa-arrow-up"></i></span>
  </div>
  <!-- jQuery -->
  <script src="assets/js/jquery-3.6.0.min.js"></script>
  <!-- Bootstrap Js -->
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/owl.carousel.min.js"></script>
  <!-- fancybox -->
  <script src="assets/js/jquery.fancybox.min.js"></script>
  <script src="assets/js/custom.js"></script>
  <!-- Email Js -->
    <script src="assets/js/sweetalert.min.js"></script>
    <script src="assets/js/contact.js"></script>
  </body>
  