<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from winsfolio.net/html/E-Gadget World/demos/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Jun 2024 10:52:54 GMT -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-Gadget World</title>
  <link rel="icon" href="/images/logo.jpg">
  
  <meta name="description" content="Quality Refurbished Laptops at Great Prices" />

  <!-- CSS only -->
   <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
   <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
   <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
   <!-- fancybox -->
   <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css">
   <!-- Font Awesome 6 -->
   <link rel="stylesheet" href="assets/css/fontawesome.min.css">
   <!-- style -->
   <link rel="stylesheet" href="assets/css/style.css">
   <!-- responsive -->
   <link rel="stylesheet" href="assets/css/responsive.css">
   <!-- color -->
   <link rel="stylesheet" href="assets/css/color.html">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">



    <style>
  .sbtn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;
            margin-top: 10px;
            color: white;
            text-decoration: none;
            border-radius: 50px; /* Change this value for rounded buttons */
            font-size: 16px;
        }
        .btn-facebook {
            background-color: #3b5998;
        }
        .btn-instagram {
            background-color: #e4405f;
        }
        .btn i {
            margin-right: 8px;
        }
  
</style>


 </head>
<body>
<!-- preloader -->
  <!-- <div class="preloader">
      <div class="loading-text">
        <span>L</span>
        <span>O</span>
        <span>A</span>
        <span>D</span>
        <span>I</span>
        <span>N</span>
        <span>G</span>
      </div> 
  </div> -->
<!-- preloader end -->
<!-- header -->
<header id="stickyHeader">
    <div class="container">
      <div class="top-bar">
        <div class="logo">
          <a href="#">
            <img alt="logo" src="/images/logo.png" style="width: 180px;">
          </a>
        </div>
        <nav>
          <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#services">Outlet</a></li>
            <!-- <li><a href="#pricing">Pricing</a></li> -->
            <li><a href="#faq’s">Faq’s</a></li>
          </ul>
        </nav>
        <a href="callto:8381834393"><i>
            <svg height="112" viewBox="0 0 24 24" width="112" xmlns="http://www.w3.org/2000/svg"><g clip-rule="evenodd" fill="rgb(255255,255)" fill-rule="evenodd"><path d="m7 2.75c-.41421 0-.75.33579-.75.75v17c0 .4142.33579.75.75.75h10c.4142 0 .75-.3358.75-.75v-17c0-.41421-.3358-.75-.75-.75zm-2.25.75c0-1.24264 1.00736-2.25 2.25-2.25h10c1.2426 0 2.25 1.00736 2.25 2.25v17c0 1.2426-1.0074 2.25-2.25 2.25h-10c-1.24264 0-2.25-1.0074-2.25-2.25z"></path><path d="m10.25 5c0-.41421.3358-.75.75-.75h2c.4142 0 .75.33579.75.75s-.3358.75-.75.75h-2c-.4142 0-.75-.33579-.75-.75z"></path><path d="m9.25 19c0-.4142.33579-.75.75-.75h4c.4142 0 .75.3358.75.75s-.3358.75-.75.75h-4c-.41421 0-.75-.3358-.75-.75z"></path></g></svg>
          </i><b> +91 838-183-4393</b></a>
      </div>
    </div>
</header>
<!-- header end -->
