<%- include ('./indexheader.ejs') %>




<section class="hero-section" style="background-image: url(assets/img/line-img.png);">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="hero-text">
            <h2>Shipping Policy</span></h2>
          
  
          
          </div>
       
  
        </div>
      
      </div>
    </div>
  </section>
  

  <style>
    .privacy_policy h1{
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
    }
    .privacy_policy h2{
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
        margin: 20px;
    }
    .privacy_policy h3{
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        margin: 20px;
    }
    .privacy_policy p{
        font-size: 17px;
        font-family: 'Times New Roman', Times, serif;
        margin: 20px;
    }

    .privacy_policy ul {
            margin-left: 20px;
            list-style-type: disc;
        }
        .privacy_policy li {
            margin-bottom: 5px;
        }
        
  </style>

  <section id="about" class="gap">
    <div class="container">
    <div class="row align-items-center">

                    <div class="col-lg-12">
                        <div class="col-lg-12 privacy_policy">
                            <h1>Shipping Policy</h1>
        <p>At E-Gadget World, we are dedicated to ensuring a smooth and efficient shipping experience for our customers. Below are the details of our shipping policy:</p>

        <h2>Order Processing</h2>
        <ul>
            <li><strong>Processing Time:</strong> We process and prepare your order for shipment within 24 hours of receipt.</li>
            <li><strong>Delivery Time:</strong> Once shipped, your order will typically be delivered within 5-7 working days.</li>
        </ul>

        <h2>Shipping Charges</h2>
        <ul>
            <li><strong>Cost:</strong> We are pleased to offer free shipping on all orders.</li>
        </ul>

        <p>For any questions or further assistance regarding your shipment, please contact our customer support team.</p>
  
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </section>

<%- include ('./indexfooter.ejs') %>
