<%- include ('.././header.ejs') %>

<link rel="stylesheet" href="https://elusiveicons.com/assets/elusive-icons/css/elusive-icons.css">


		
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
			
			<div class="container-fluid">
				<!-- Row -->
				<div class="row">
					
					<div class="col-xl-12">
						<div class="filter cm-content-box box-primary">
							<div class="content-title">
								<div class="cpa">
									<i class="fa-solid fa-envelope me-1"></i>Add Bulk Deal	  <span style="color: green;margin-left: 20px;"><%=msg%></span>
                  <a href="/admin/dashboard/bulk-deal/list"> <button type="button" class="btn btn-primary btn-sm">Bulk Deal  List</button></a>
							
                </div>

								<div class="tools">
									<a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
								</div>
							</div>
							<div class="cm-content-body form excerpt">
								<div class="card-body">
									
                  <form action="/admin/dashboard/bulk-deal/insert" method="post" enctype="multipart/form-data">

<div class="row">



  
    <div class="col-xl-6">
      
            
                <label  class="form-label">Select category </label>
        <select class="form-control" id="category" name="category" required>
        </select>

      </div>



      <div class="col-xl-6">
      
            
        <label  class="form-label">Select Lot Type </label>
<select class="form-control" id="lot_type" name="lot_type" required>
    <option value="FULL QC LOT"> FULL QC LOT</option>
    <option value="FAULTY LOT">FAULTY LOT</option>
    <option value="BOX 2 BOX">BOX 2 BOX</option>
    <option value="VRP LOT">VRP LOT</option>


</select>

</div>




</div>





<div class="row" style="margin-top: 20px;">

  <div class="col-xl-6">
        
              
    <label  class="form-label">Quantity </label>
  <input type="text" class="form-control" id="quality" name="quality" placeholder="Type LOT Quantity" required>
  
  
  </div>
  
  
  
  <div class="col-xl-6">
  
        
    <label  class="form-label">Price </label>
    <input type="text" class="form-control" id="price" name="price" placeholder="Enter LOT Price" required>
  
  
  </div>
  </div>


<div class="row" style="margin-top: 20px;">



  
    <div class="col-xl-6">
      
            
                <label  class="form-label">Select Multiple Images </label>
        <input type="file" name="images" id="images" multiple class="form-control" required>

      </div>



      <div class="col-xl-6">
      
            
        <label  class="form-label">Upload Excel</label>
        <input type="file" name="excel" id="excel" class="form-control" required>


</div>



   

</div>

<div class="row" style="margin-top: 20px;">
  <div class="col-lg-12">
  <label  class="form-label">Description </label>

  <textarea id="description"name='description' class="form-control"></textarea>
</div>
</div>




										
									
										<div class="text-end" style="margin-top: 20px;">
											<button type="submit" class="btn btn-primary save">Save</button>
										</div>
									</div>


                </form>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
        <!--**********************************
            Content body end
        ***********************************-->
		
		
		
        <%- include ('.././footer.ejs') %>




        <script src="https://cdn.ckeditor.com/4.7.0/full/ckeditor.js"></script>
        <script src="https://unpkg.com/vue@2.3.4"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>


        <script>


$.getJSON(`/admin/dashboard/laptop/getData/bulkCategory`, data => {
    console.log('leagues',data)
    fillDropDown('category', data, 'Choose Category', 0)
  
})


function fillDropDown(id, data, label, selectedid = 0) {
    $(`#${id}`).empty()
    $(`#${id}`).append($('<option>').val("null").text(label))

    $.each(data, (i, item) => {
        if (item.id == selectedid) {
            $(`#${id}`).append($('<option selected>').val(item.id).text(item.name))
        } else {
            $(`#${id}`).append($('<option>').val(item.id).text(item.name))
        }
    })
}

        </script>